.tab-box
{
    background: #fff;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.tab-box span
{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--greyish-brown);
    font-weight: 700;
    height: 29px;
    padding: 9px 8px;
}
.tabs {
    flex: 1;
    text-align: CENTER;
}
.tab-box span.active
{
    color:var(--pinkish-coral);
    border-bottom: solid 2px var(--pinkish-coral);
}
.detail-filter
{
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}
.detail-filter span{
    color: var(--greyish-brown);
    font-weight: 400;
    padding: 0 3px;
}
.detail-filter span:first-child{padding: 0;}

.overview-title {
    font-size: 14px;
    color: #000;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 17px;
    font-family: 'Dosis';
    text-transform: uppercase;
    display: block;
}
.detail-panel-row{
    background:#f7f7f7;
    border-radius: 3px;
    padding: 15px 16px;
    color: var(--charcoal);
    box-shadow: 0px 1px 2px 0px #1e00001f;
    margin-bottom: 9px;
}
.watch-div .detail-panel-row {
    padding: 0px;
    background: #fff;
    margin: auto -16px;
}
.detail-panel-title{
    font-size: 10px;
    font-weight: 500;
}
.d-episodes{
    font-size: 14px;
    font-weight: 700;
    color: var(--coral);

}
.spacer{
    font-weight: 400;
    padding: 0px 2px;
}

.coral-arrow {
    width: 0px;
    height: 0px;
    border-top: 8px solid var(--coral);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    margin-left: 3px;
    margin-top: 7px;
}
.detail-panel-row.active .coral-arrow{
    border-bottom: 8px solid var(--coral);
    border-top:0px;
    margin-top: 3px;
}

.detail-panel-info{
    font-size: 14px;
    color: var(--charcoal);
    line-height: 20px;
    margin-top: 16px;
}

.panel-filter-head{
    background: #f2f2f2;
    box-shadow: 0px 1px 4px 0px #34000012;
    padding: 10px 15px;
}
.fltrs{
    font-size: 14px;
    font-weight: 700;
    color: var(--charcoal);
    margin-right: 15px;
}
.fltr-tab{
    border:1px solid var(--charcoal);
    color: var(--charcoal);
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    font-weight: 500;
    margin-right: 20px;
    display: inline-block;
}
.fltr-tab.active{
    background:var(--charcoal);
    color: var(--white);
}
.panel-filter-info-row{
    position: relative;
}


.panel-filter-strip {
    background: #6baf1f;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.71;
    font-weight: 700;
    padding: 5px 2px;
    text-align: center;
}
.panel-chnl-wrp{
    padding-left: 25px;
    padding-top: 15px;
}
.panel-chnl {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 16px 12px 0px;
}

.panel-chnl img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.panel-filter-info{
    margin-bottom: -15px;
}

.detail-panel-info-wrap{
    display: none;
}

.detail-panel-row.active .detail-panel-title .d-episodes{
    color:#454545;
}
.detail-panel-row.active .detail-panel-info-wrap {
    display: block;
}
.seasontitle{
    font-size: 12px;
    color: #666;
    font-weight: 600;
}
.main-panel-outr{
display: inline-block;
    margin: 0px 10px 20px 0px;
}
.movie-filter-info .main-panel-outr{
    margin: 0px 15px 15px 0px;
}
.main-panel-row .panel-chnl{
    width: 40px;
    height:40px;
    margin: 0px;
}
.main-panel-row .panel-filter-strip {
    font-size: 12px;
    padding: 5px 2px;
}
.rent-row .panel-filter-strip{
    background: #f78469;
}
.buy-row .panel-filter-strip{
    background:#9c74a4 ;
}
/*cast*/
.avtar-wrap {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 110px;
    padding: 4px;
    word-wrap: break-word;
}
.avtar-img {
    border: solid 4px var(--white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.avtar-img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
}

.avtar-txt {
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    text-align: center;
    margin-top: 10px;
    line-height: 18px;
    height: 36px;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.avtar-post{
    font-size: 10px;
    color: #898989;
    line-height: 16px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-align: center;
    margin-top: 4px;
}
.channel-wrap{
    width: 130px !important;
    height: 90px !important;
}
.channel-wrap img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.bg-schedule
{
    background: var(--bg-light-grey);
    margin: 5px 0;
}
.detail-left-wrp{
    width: 60px;
    height: 80px;
    float: left;
}
.detail-left-wrp img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.detail-ryt-wrp{
    margin-left: 75px;
    display: block;
    overflow: hidden;
}
.detail-movie-wrp{
    width: 73%;
    float: left;
    margin-left: 15px;
    display: inline-block;
}
.movie-rating {
    float: right;
    display: inline-block;
    font-family: 'Dosis';
    font-size: 20px;
    color: #999999;
    font-weight: 500;
    text-align: right;
    width: 80px;
}

.movie-rating b {
    font-size: 24px;
    color: #343432;
}

.movie-rating span {
    display: block;
}

.movie-rating img {
    max-width: 100%;
    max-height: 100%;
}
.movie-rating-div{
    padding: 10px 12px;
    background: #f2f2f2;
    box-shadow: 0px 1px 4px 0px #cccccc91;
}
.rat-titl{
    font-size: 12px;
    color: #454545;
    font-weight: 600;
    margin-right: 10px;
    vertical-align: text-top;
}
.mov-rat{
    font-size: 18px;
    color: #454545;
    font-family: 'Dosis';
    font-weight: 500;
}
.mov-rat-img{
    height: 20px;
    width: auto;
    max-width: 65px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: text-top;
}
.mov-rat-img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.rate-logo {
    width: 80px;
    height: 40px;
    position: relative;
    margin-top: 6px;
}
.right-img-box {
    float: left;
    width: 140px;
}
.right-img-box img{
    max-width: 100%;
    max-height: 100%;
}
.right-info-box {
    float: left;
    padding: 10px 15px;
    font-size: 12px;
    width: 56%;
}
.right-box-title {
    font-size: 18px;
    display: block;
    color: var(--charcoal);
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}

span.cat-tag {
    font-size: 12px;
    color: #f45050;
    background: #fde1e1;
    padding: 0 5px 1px;
    border-radius: 2px;
    text-transform: uppercase;
    display: -webkit-inline-box;
}
.right-calander, .right-follower
{
    line-height: 20px;
}
.marg-btm{
    margin-bottom: 16px !important;
}
/*cast page*/
.cast-info{
    margin-left: 120px;
    overflow: hidden;
    display: block;
}
.cast-row{
    padding-bottom: 15px;
    margin: 10px auto;
    border-bottom: 1px solid #d7d7d77d;
}
.cast-row .avtar-img{
    float: left;
}
.cast-info-txt{
    font-size: 14px;
    color: #454545;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cast-info .cast-info-txt:first-child{
margin-top:20px;
}
.light-txt{
    font-weight: 400;
    margin-right: 5px;
    display: inline-block;
}
.page-marg-top{
    margin-top: 16px;
}
.play-episode{
    width: 20px !important;
    bottom:0;
}
/*cast detail start*/
.follow-wrp{
    margin-top: 12px;
}
.folow-count{
    font-size: 18px;
    color: #454545;
    font-weight: 400;
}

/*cast detail table*/
.cast-table-list{
    width: 100%;
}
.trleft, .trright{
    width: 50%;
    vertical-align: bottom;
    display: inline-block;
}
.trleft{
    padding-right:10px;
}
.trright{
    padding-left:10px;
}
.cast-table-list{
    width: 100%;
}
.cast-table-list tr td{
    border-bottom: 1px solid #d7d7d787;
    display: inline-block;
    letter-spacing: -.2px;
    padding: 7px 0px;
    vertical-align: bottom;
    width: 50%;
    font-size: 14px;
    line-height: 16px;
    color: #454545;
    font-weight: 400;
}
.cast-table-list tr td strong{
    font-weight: 600;
    padding-left: 10px;
    display: block;
}
/*streaming card*/
.streamcard .ant-carousel .slick-next {
    right: -2px !important;
}
.streamcard .ant-carousel .slick-prev {
    left: -18px !important;
}
.streamcard .card-sm-img{
    height: 150px;
}
.streamcard .card-title{
    text-transform: capitalize;
    height: 32px;
    overflow: hidden;
}
.streamcard .sm-card{
    height: 250px;
}
.streamcard .card-bottom {
    margin: 14px 8px 12px 8px;
}
.streamcard .card-subtitle {
    font-weight: 300;
    font-size: 13px;
    color: #606060;
    margin-top: 8px;
    line-height: 17px;
    height: 34px;
    overflow: hidden;
}

/* chennal Detail */
.ch-lft-img-box {
    width: 172px;
    height: 112px;
    overflow: hidden;
    position: relative;
}
.ch-lft-img-box img
{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 3px 0 0px 3px;
}
.chnl-dt-row {
    display: flex;
    margin: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}
.ch-ryt-box {
    margin: 5px 0 0 10px;
    flex: 2;
}
.ch-ryt-box .detail-filter{
    font-size: 12px;
}
.ch-eps-time {
    color: var(--greyish-brown);
    font-weight: 600;
}
.ch-followers {
    color: var(--greyish-brown);
}
/* End chennal Detail */

@media (min-width: 320px) and (max-width: 991.98px) {
    .detail-filter {
        font-size: 10px;
        line-height: 8px;
    }
    .overview-title
    {
        font-size:12px;
        color: var(--charcoal);
        margin: 0 0 5px;
        font-weight: 800;
        text-transform: capitalize;
        font-family: "Muli", sans-serif;
        line-height: 15px;
        display: block;
    }
    .detail-panel-info{
        font-size: 10px;
        color: var(--charcoal);
        line-height: 12px;
        margin-top: 8px;
    }
    .fltrs {
        font-size: 12px;
    }
    .fltr-tab{
        font-size: 10px;
        margin-right: 8px;
    }
    .panel-filter-strip{
        background: #6baf1f;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.71;
        font-weight: 700;
        float: left;
        padding: 10px 2px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-transform: rotate(180deg);
    }
    .panel-chnl{
        width: 30px;
        height: 30px;
        margin:0px 18px 17px 0px;
    }
    .panel-chnl-wrp{
        white-space: nowrap;
        overflow-x: scroll;
        padding-left: 8px;
    }
    .detail-panel-row {
        padding: 11px 8px;
    }
    .main-panel-row .panel-filter-strip{
        font-size: 12px;
        padding: 21px 2px;
    }

    .watch-div .detail-panel-row {
        margin: auto -8px;
    }
    .panel-filter-head{
        padding: 10px 6px;
    }
    .avtar-wrap{
        margin-right: 10px;
        width: 90px;
    }
    .avtar-img {
        width: 80px;
        height: 80px;
    }
    .avtar-txt{
        font-size: 12px;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        -webkit-box-orient: vertical;
        margin-top: 4px;
        line-height: 16px;
        height:auto;
        white-space: nowrap;
        -webkit-line-clamp: 1;
    }
    .marg-btm{
        margin-bottom: 8px !important;
    }
    .castpage .overview-title{
        font-family: 'Dosis';
    }
    .cast-info {
        margin-left: 90px;
    }
    .cast-info .cast-info-txt:first-child {
        margin-top: 15px;
    }
          .cast-info-txt {
              font-size: 12px;
              line-height: 16px;
              margin-bottom: 4px;
          }
    .cast-row {
        padding-bottom: 8px;
        margin: 8px -8px 0px;
        border-bottom: 1px solid #d7d7d7;
    }
    .right-img-box{
        width: 115px;
    }
    .right-info-box{
        padding: 0 15px;
        max-width: 60%;
    }
    .right-box-title{
        font-size: 14px;
    }
    span.cat-tag{
        font-size: 10px;
    }

    .trleft, .trright{
        width:100%;
        padding: 0px;
    }
    .folow-count{
        font-size: 12px;
        color: #454545;
        font-weight: 400;
        float: left;
        margin-top: 10px;
    }
    .coral-arrow {
        border-top: 16px solid var(--coral);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        margin-top: 3px;
    }
    .detail-panel-row.active .coral-arrow{
        border-bottom: 16px solid var(--coral);
        margin-top: -3px;
    }
    .movie-filter-info .panel-filter-info-row{
        border-bottom: 1px solid #d7d7d7;
    }
    .movie-filter-info .main-panel-outr{
        margin: 0px 8px 14px 0px;
    }
    .ch-lft-img-box{
        width: 90px;
        height: 50px;
    }
    .chnl-dt-row{
        box-shadow: none;
        border-bottom: solid 1px #f2f2f2;
        padding: 0 0 10px;
    }
}
@media (min-width: 976px) and (max-width:1200px)  {
    .right-img-box {
        float: left;
        width: 113px;
     }
}